#root {
  margin: 0 auto;
  padding: 0.1rem 4rem 2rem;
  text-align: center;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.8rem;
  color: #fff;
  background: linear-gradient(135deg, #00050d, #000d0c);
}

.header {
  display: grid;
  grid-template-areas:
  "logo title"
  "logo subtitle";
  padding-bottom: 0.5rem;
  


  .logo:hover {
    transform: scale(1.1);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.6);
  }

  .title {
    grid-area: title;
    font-size: 1.2rem;
    margin-top: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: #ffffff;
    text-shadow: 0px 4px 8px rgba(184, 170, 170, 0.8);
  }

  .subtitle {
    grid-area: subtitle;
    font-size: 0.9rem;
    margin-top: 0.1rem;
    color: #f0f0f0;
    font-style: italic;
    opacity: 0.9;
    line-height: 1.5;
    text-align: center;
  }
}

.logo {
  grid-area: logo;
  width: 3.5rem;
  height: 3.5rem;
  margin: 1rem auto;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
  transition: transform 0.3s ease;
}

.top-space {
  margin-top: 6rem;
}