#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

}

body {
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
  color: #fff;
  background-color: #00050d;
}

.logo {
  width: 18rem;
  height: 18rem;
  margin: 0 auto;
  border-radius: 100%;
}
